.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 0 -16px;
}

.col-25 {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
}

.col-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
}

.col-75 {
	-ms-flex: 75%; /* IE10 */
	flex: 75%;
}

.col-25,
.col-50,
.col-75 {
	padding: 0 16px;
}

.container {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	width: 330px;
	height: auto;
	margin-top: 20px;
}
.form-container {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 12px;
	width: 330px;
	height: auto;
	margin-top: 20px;
}

input[type='text'],
input[type='email'],
input[type='number'] {
	width: 300px;
	margin-top: 4px;
	margin-bottom: 16px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
label {
	font-size: 1.2em;
	margin-bottom: 0px;
}

.icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}
.label-envio {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
}

.btn {
	background-color: black;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}

.btn:hover {
	background-color: #45a049;
}

span.price {
	float: right;
	color: grey;
}
.form-infoenvio {
	margin-top: 16px;
}
.form-paymethod {
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.required-p {
	margin-block-start: -10px;
	color: red;
	font-weight: 550;
	margin-block-end: 12px;
}
.alert {
	margin-block-start: 0;
	margin-block-end: 0;
	color: black;
}
.icon-mp {
	height: 1.5em;
}
.backbutton {
	border-radius: 6px;
	cursor: pointer;
	padding: 0;
	background-color: white;
	border: 2px solid black;
	margin-bottom: 4px;
	width: 99%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.2em;
	font-weight: 600;
}
.backbutton-link {
	text-decoration: none;
	color: black;
}
.btn-transferencia {
	border: none;
	border-radius: 6px;
	background: #4caf50;
	font-weight: 600;
	line-height: 1.25;
}

.btn-mercadopago {
	border: none;
	border-radius: 6px;
	background: #009ee3;
	font-weight: 600;
	line-height: 1.25;
}
.alert {
	opacity: 0.7;
	background: #4caf50;
	color: black;
	cursor: not-allowed;
}
.btnform-container {
	margin-top: 20px;
}
.hiddeninputs {
	display: none;
}
.coment {
	height: 4em;
	width: 300px;
	margin-top: 4px;
	margin-bottom: 16px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
