.cardcart-container{
    background-color: white;
    padding: 20px;
    height: 60px;
    width: 270px;
    border-radius: 25px;
    margin: 10px 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-areas: 
        "img t btn"
        "img price btn"
    ;
    grid-template-columns: 60px 1fr 60px;
}
.cartcard-title{
    height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    align-self: center;
    font-weight: lighter;
    grid-area: t;
}
.cartcard-price{
    grid-area: price;
    font-size: 1.5em;
    font-weight: bold;
    align-self:flex-end;
    margin-block-end: 0;
    margin-block-start: 0;
}
.cartcard-img{
    grid-area: img;
    width: 60px;
    margin-right: 12px;
    justify-self: center;
    align-self: center;
}
.cartcard-btn{
    grid-area: btn;
    background-color: transparent;
    border-color: transparent;
    height: 24px;
    justify-self: right;
    align-self: center;
    cursor: pointer;
}
.cartcard-delete{
    height: 24px;
}