.cardcart-container{
    background-color: white;
    padding: 20px;
    height: 100px;
    width: 270px;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-areas: 
        "img t btn"
        "img p price"
    ;
}
.cartcard-price{
    margin-top: 4px;
    grid-area: price;
    font-size:larger;
    font-weight: 600;
    align-self:flex-end;
    margin-block-end: 0;
    margin-block-start: 0;
}
.cartcard-img{
    grid-area: img;
    width: 90px;
    margin-right: 12px;
    justify-self: center;
    align-self: center;
}
.cartcard-title{
    height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    align-self: center;
    grid-area: t;
}
.cartcard-description{
    margin-block-end: 0;
    margin-block-start: 0;
    height: auto;
    width: 120px;
    grid-area: p;
}
.cartcard-btn{
    grid-area: btn;
    background-color: transparent;
    border-color: transparent;
    height: 24px;
    justify-self: right;
    cursor: pointer;
}
.cartcard-delete{
    height: 24px;
}