.cart-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
;
}
.cart-title{
    margin-block-start: 0
}
.cart-container-cart{
    width: auto;
    height: auto;
}
.cart-cards-container{
    height: 400px;
    width: 340px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 4px 3px 20px 3px rgba(0, 0, 0, 0.2);
}
