.ProductsList-container{
    min-height: 450px;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}
.PorductsList-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.noresult-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.lupa{
    width: 120px;
    margin-right: 20px;
    margin-top: -10px;
}