.Card-Container{
    width: 310px;
    height: 290px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: .7em;
    background-color: white;
    color: black;
    border-radius: 1em;
    margin-top: .5em;
    margin-left: 1em;
    display: grid;
    grid-template-areas: 
    " img title title"
    " img   p     p  "
    " img  price price  "
    " img  chart chart"   
    ;
}
.img-container{
    grid-area: img;
    width: 150px;
    align-self: center;
    margin-right: 1em;
}
.product-img{
    width: 100%;
}
.title{
    grid-area: title;
    margin-block-start: 0;
}
.price{
    grid-area: price;
    margin-block-start: 0;
    font-size: 20px;
}
.description{
    grid-area: p;
    margin-block-start: 0;
}
.chart-btn{
    grid-area: chart;
    outline: 0;
    padding: 7px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.chart-btn:active {
    transform: translateY(-2px);
}