.Card-Container{
    min-width: 290px;
    max-width: 320px;
    min-height: 190px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: .7em;
    background-color: white;
    color: black;
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:  0.5em;
    margin-right: 0.5em;
    text-align: center;
    text-justify: center;
    display: grid;
    grid-template-areas: 
    " img title title"
    " img   p     p  "
    " img   p     p  "
    " img  price price "
    " img  chart chart"   
    ;
}
.img-container{
    grid-area: img;
    width: 134px;
    align-self: center;
    margin-right: 1em;
}
.product-img{
    width: 100%;
    height: 134px;
    object-fit: contain;
}
.card-title{
    grid-area: title;
    margin-block-end: 4px;
    height: auto;
}
.price{
    grid-area: price;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 20px;
    font-weight: 600;
}
.description{
    grid-area: p;
    margin-block-start: 0;
    margin-block-end: 0;
}
.chart-btn{
    grid-area: chart;
    outline: 0;
    padding: 7px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
}
.chart-btn:active {
    transform: translateY(-2px);
}
.seemore{
    grid-area: sm;
    border: none;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
    width: 3em;
    height: 2em;
}