.header-container{
    position: -webkit-sticky;
    position: sticky;
    top: -12px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 2em;
    z-index: 100;
}
.header-logos-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo{
    width: 120px;
    margin-top: 4px;
}
.header-logo2{
    width: 50px;
    margin-right: 12px;
}
.cart{
    height: 40px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.cart-icon{
    margin-top: 8px;
    height: 24px;
}
.cart-alert{
    color: white;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.none-alert{
    background-color: white;
}