.payinfo-container {
    padding: 20px;
	width: 370px;
	height: auto;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: Agency FB;
    font-size: 16px;
}
