.footer-container{
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    text-align: left;
    padding-left: 40px;
}   
.footer-title{
    font-weight: 600;
}
.menu-list{
    list-style: none;
    margin-bottom: 0.3em;
    margin-block-start: 0;
    padding-inline-start: 0.3em;
}
.menu-list-li{
    list-style: none;
    text-align: left;
}