.footer-container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to left, #111010 0%, black 100%);
    color: white;
    width: -webkit-fill-available;
    height: auto;
    text-align: left;
}   
.footer-logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.footer-logo{
    width: 190px;
}
.footer-we{
    padding: 24px;
    width: 350px;
}
.footer-contact{
    padding: 24px;
    width: auto;
}