.footer-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: -webkit-fill-available;
    height: auto;
    text-align: left;
}   
.footer-title{
    font-weight: 600;
}
.menu-list{
    list-style: none;
    margin-bottom: 0.3em;
    margin-block-start: 0;
    padding-inline-start: 0.3em;
}
.menu-list-li{
    list-style: none;
    text-align: left;
}