.cart-total{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 3px 20px 3px rgba(0, 0, 0, 0.2);
    height: auto;
    width: 340px;
    margin-top: 24px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    justify-self: center;
    align-self: flex-start;
}
.cart-total h3{
    margin-block-start: 0.3em;
    margin-bottom: 10px;
}
.cart-btn-pay{
    width: 90%;
}
.cart-btn-confirm{
    background-color: rgba(13, 191, 255, 0.842);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.input-radio{
    display: flex;
    justify-content: center;
    align-content: center;
}
.input-radio label{
    margin-top: 5px;
}
.input-radio input{
    margin-top: 5px;
}
.cart-total-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-family: Agency FB;
    background-color: transparent;
    padding: 0.2em;
    color: black;
    font-weight: 600;
    border-radius: 2px;
    width: 220px;
    border: 2px solid black;
    margin-bottom: 10px;
}
.cart-envio-img{
    margin-left: 1em;
    width: 2em;
}
.envio-btn{
    width: 90%;
    border: 2px solid rgba(13, 191, 255, 0.842);
    background-color: transparent;
    border-radius: 2px;
    font-size: 1em;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
}