.carousel-container{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;   
}
.carousel-title{
    font-family: Agency FB;
    font-size: 24 px;
    margin-block-end: 0;
    font-weight: 200;
    text-shadow: 2px 2px 40px;
}
.cards-container{
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    position: relative;
}
.cards-container::-webkit-scrollbar{
    display: none;
}
.carousel-buttons{
    position: absolute;
    margin-top: 1em;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.btn-carousel-cards{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    height: 50px;
    width: 30px;
    position: relative;
    z-index: 20;
}
.btn-carousel-cards::after{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0px;
    left: 0px;
    content: "";
    border-radius: 50%;
    filter: blur(6px);
    z-index: -1;
}
@media (width: 850px) {
    .carousel-container{
        width: 830px;
    }
}