.carousel-container{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    margin-bottom: 2em;   
}
.carousel-title{
    font-family: Agency FB;
    font-size: 24 px;
    margin-block-end: 0;
    font-weight: 200;   
}
.cards-container{
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    position: relative;
}
.cards-container::-webkit-scrollbar{
    display: none;
}
.carousel-buttons{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.btn-carousel-cards{
    border-radius: 50%;
    background-color: #28c4ac;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding: 0;
    position: relative;
    z-index: 20;
}
.btn-img{
    width: 30px;
}