.Category-card{
    position: relative;
    min-width: 110px;
    max-width: 200px;
    height: 360px;
    padding: 0 2px 3px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Card2-span{
    position: absolute;
    color: white;
    display: block;
    justify-self: center;
    align-self: center;
    z-index: 3;
    font-weight: 500;
    font-size: 1.4em;
    text-shadow: 1px 1px 2px black;
}
.Card-img2{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}
.Card-img2::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.Background-image-card2{
    height: 100%;
    align-self: center;
    filter: blur(3px);
}