@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
body {
	margin: 0 auto;
	padding-left: 0 !important;
	padding-right: 0 !important;
	min-width: 360px !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Source Sans Pro', sans-serif ;
	font-size: 14px;
}
.mementica-font{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 28px;
    font-weight: 600;
	letter-spacing: 0.1em;
	margin-block-start: 0.1em;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    margin-block-end: 1em;
    margin-block-start: 1em;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(14, 14, 13, 0.103);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(15, 15, 13, 0.200);
    border-radius: 10px;
}