.principal-container{
    width: 100%;
    height: 100%;
    position: relative;
}
.slider-container{
    width: 100%;
    height: 500px;
    max-height: 600px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: hidden;
    position: relative;
}
.slide{
    min-width: 100%;
    max-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: .3s ease all;
    z-index: 5;
    max-height: 90%;
}
.img-slide{
    max-height: 500px;
    max-width: 100%;
}
.texto-slide{
    background: rgba(0, 0,0,.3);
    color: white;
    font-weight: 800;
    text-shadow: 1px 1px 2px black;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.slider-controls{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none
}
.slider-buttons{
    pointer-events: all;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    width: 50px;
    height: 100%;
    position: absolute;
    transition: .3 ease all;
    background: rgba(0,0,0,0.02);
}
.left{
    left: 0;
}
.right{
    right: 0;
}